click==7.1.2
flask-login==0.5.0
flask-mongoengine==0.9.5
flask-socketio==4.3.1
flask-wtf==0.14.3
flask==1.1.2
gevent-websocket==0.10.1
gevent==20.6.2
greenlet==0.4.16; platform_python_implementation == 'CPython'
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
mongoengine==0.20.0
pymongo==3.11.0
python-dotenv==0.14.0
python-engineio==3.13.1
python-socketio==4.6.0
six==1.15.0
werkzeug==1.0.1
wtforms==2.3.3
zope.event==4.4
zope.interface==5.1.0
