{% extends "base.html" %}
{% block body %}
	<div class="container">
	    <div class="row">
		    <div class="col-md-12 col-md-offset-4">
			    <h1>Create Project</h1>
			    <hr>
				<form method=POST>
	                <div class="form-group">
	                    <label for="title">Project Title</label>
	                    <input type="text" class="form-control" name="title" placeholder="Project Title" required>
	                </div>
					<div class="form-group">
					<label for="engineers">Engineers</label>
					<select multiple class="form-control" id="engineers" name=engineers required>
						{% for user in users %}
							<option value="{{user.id}}">{{user.username}}</option>
						{% endfor %}
					</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Create</button>
	            </form>
			</div>
		</div>
	</div>
{% endblock %}