{% extends "base.html" %}
{% block body %}
	<div class="container">
    <div class="row">
    <div class="col-md-12 col-md-offset-4">

    {% if project %}
		<h1>{{ project.title }}</h1>
		<hr>
		<form method="POST">
	    	<div class="form-group">
		    	<textarea class="form-control" id="text" rows="3" name="text"></textarea>
		  	</div>

 		<button type="submit" class="btn btn-primary btn-block">Submit</button>
		</form>
		<br>
		<div class="comments">
		{% for comment in project.comments|reverse %}
	    	<div class="card">
			  <div class="card-body">
			    <p class="card-text">{{comment.text}}</p>
			    by <a href="#" class="card-link">{{comment.by.username}}</a>
			  </div>
			</div>
			<br>
	    {% endfor %}
	    </div>

		</div>
		</div>
		</div>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	    <script type="text/javascript">
			const socket = io('/comment', {
				transports: ['websocket']
			});

			socket.on('connect', function() {
				var form = $('form').on('submit', function( e ) {
					e.preventDefault()
					let text = $('#text').val()
					socket.emit('comment', {
						id: "{{project.id}}",
						text : text
					})
					$('#text').val('').focus()
				})
			})

			socket.on('comment', function(data) {
				if(text) {
				  $('div.comments').prepend(
				    	'<div class="card"><div class="card-body"><p class="card-text">' + data.text + '</p>' + 'by <a href="#" class="card-link">' + data.by + '</a></div></div><br>'
				  )
				}
			})
	    </script>
	{% else %}
        <div class="alert alert-danger">Error: Project does not exist</div>
	{% endif %}
{% endblock %}