{% extends "base.html" %}
{% block body %}
	<div class="container">
    <div class="row">
    	<div class="col-md-12 col-md-offset-4">
		<h1>Projects</h1> 
		<hr>
		{% for project in projects %}
			<a href="/projects/{{project.id}}"><h3>{{ project.title }}</h3></a>
			<p> <b>Members:</b>
			{% for engineer in project.engineers %}
				{{engineer.username}}
			{% endfor %}
			</p>
			<div id="{{project.id}}">
				
			</div>
			<hr>
		{% endfor %}
		</div>
	</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
    	const current_user = "{{current_user.username}}"
		const socket = io({
			transports: ['websocket']
		});

		socket.on('notification', function(data) {
			$('#' + data.project_id).html('')

			if(data.by !== current_user) {
			  $('#' + data.project_id).append(
			  	'<div class="alert alert-success" role="alert">' + data.by + ' recently commented—<a href="/projects/' + data.project_id + '">check it out</a>!</div>'
			  )
			}
		})
    </script>
{% endblock %}