<!DOCTYPE html>
<html>
<head>
	<title>Project View</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<body>
	<h1>{{ project.title }}</h1>

	<div class="comments">
	{% for comment in project.comments %}
    	<p>{{comment}}</p>
    {% endfor %}
    </div>

    <form method="POST">
		<input type="text" name="text" id="text" required>
		<input type="submit" >
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('connect', function() {
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let text = $('#text').val()
          socket.emit('post_comment', {
          	id: "{{project._id}}",
            text : text
          } )
          $('#text').val('').focus()
        })
      })

      socket.on('append_comment', function(data) {
        console.log(data)
        if(text) {
          $('div.comments').append('<p>' + data.text + '</p>')
        }
      })
    </script>

</body>
</html>